<form class="{{cssClass}} flexcol {{system.type}}" autocomplete="off">
  <div class="actor-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <div class="flex row align-center space-between" style="margin-bottom: 1rem;">
        <div>
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>
      </div>
      <div class="flex row">
        <label style="align-self: center"><strong>{{localize "MYZ.COMMENT"}}:</strong></label>
        <input type="text" class="nolabel" name="system.comment" value="{{system.comment}}" />
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "MYZ.ATTRIBUTES"}}</a>
    <a class="item" data-tab="crew">{{localize "MYZ.STATION.CREW"}}</a>
    <a class="item" data-tab="gear">{{localize "MYZ.STATION.CARGO"}}</a>
    <a class="item" data-tab="info">{{localize "MYZ.INFO"}}</a>
  </nav>

  <div class="sheet-body">
    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="box-list">
        <div class="flexrow align-center STATION-resource-row-header">
          <p><strong>{{localize "MYZ.STATION.Stats"}}:</strong></p>
          <p><strong>{{localize "MYZ.STATION.Gear_Bonus"}}:</strong></p>
          <p><strong>{{localize "MYZ.STATION.Skills"}}:</strong></p>
        </div>
        <div class="flexrow align-center odd-child STATION-resource-row ">
          <label><strong>{{localize "MYZ.STATION.Water"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.water.value"
              value="{{system.water.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.water.max"
              value="{{system.water.max}}" />
          </div>
        </div>
        <div class="flexrow align-center STATION-resource-row">
          <label><strong>{{localize "MYZ.STATION.Food"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.food.value"
              value="{{system.food.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.food.max"
              value="{{system.food.max}}" />
          </div>
        </div>
        <div class="flexrow align-center odd-child STATION-resource-row">
          <label><strong>{{localize "MYZ.STATION.Equipment"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.equipment.value"
              value="{{system.equipment.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.equipment.max"
              value="{{system.equipment.max}}" />
          </div>
        </div>
        <div class="flexrow align-center STATION-resource-row">
          <label><strong>{{localize "MYZ.STATION.Energy"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.energy.value"
              value="{{system.energy.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.energy.max"
              value="{{system.energy.max}}" />
          </div>
        </div>
        <div class="flexrow align-center STATION-resource-row">
          <label><strong>{{localize "MYZ.STATION.Medics"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.medics.value"
              value="{{system.medics.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.medics.max"
              value="{{system.medics.max}}" />
          </div>
        </div>
      </div>
      <div class="grid" style="margin-bottom: 5px;">
        <div class="flexrow flex-group-left odd-child">
          <label><strong>{{localize "MYZ.STATION.Population"}}:</strong></label>
          <div>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.population.value"
              value="{{system.population.value}}" />
            <span>/</span>
            <input class="nolabel short-input" type="number" data-type="Number" name="system.population.max"
              value="{{system.population.max}}" />
          </div>
        </div>
      </div>
    </div>


    <div class="tab" data-group="primary" data-tab="crew">
      <div class="grid">
        <div>
          <div class="drop-zone-for-occupants flex column">
            <div class="flex row align-center space-between STATION-resource-row-header">
              <div class="flex row item-name">
                <label style="align-self: center">{{localize "MYZ.STATION.Crew_Count"}}: &nbsp;</label>
                <input class="short-input" type="number" data-type="Number" name="system.occupantsCount"
                  value="{{system.occupantsCount}}" />
              </div>
              <label class="remove-all-occupants" style="cursor:pointer; text-align: right;">{{localize
                "MYZ.REMOVEALL"}}</label>
            </div>
            <div class="box-list flex-column " style="min-height: 250px;">
              {{#ifCond system.occupants.length '<' 1}} <div class="flex"
                style="justify-content: center; align-items: center; height:200px">
                <p>{{localize "MYZ.DRAG_OCCUPANTS_HERE"}}</p>
            </div>
            {{/ifCond}}
            {{#each occupants}}
            <div class="box-item flex row occupant" data-uuid="{{this.uuid}}" data-id="{{this.id}}">
              <div class="item-name flex row align-center">
                <img class="occupant-image" src="{{this.img}}" title="{{this.name}}" style="margin-right: 1rem;" />
                <a class="occupant-name">{{this.name}}</a>
              </div>
              <div class="item-controls flex align-center" style="flex-direction: row-reverse;">
                <i class="fas fa-trash fa-fw occupant-delete"></i>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab" data-group="primary" data-tab="gear">
    <div class="flex column">
      <div class="box-item header flex row align-center space-between STATION-resource-row-header">
        <div class="flex row item-name">
          <label style="align-self: center">{{localize "MYZ.STATION.Cargo"}}</label>
        </div>
      </div>
      <ol class="box-list flex column" style="min-height: 100px; padding: unset;">
        {{#each itemsOnVehicle as |gear key|}}
        <li class="box-item gear flex row align-center space-between editable-item" data-item-id="{{gear._id}}">
          <span class="item-name flex row align-center">
            <img class="item-image" src="{{gear.img}}" />
            <a class="item-link">{{gear.name}} x &nbsp;</a>
            <input type="number" class="owned-item-value num-value-1rem" value="{{gear.system.quantity}}"
              data-item-id="{{gear._id}}" data-linked-value="system.quantity">
            {{#ifCond gear.type '==' 'weapon'}}
            <div style="padding: 0 0.5rem;" class="flex align-center space-between">
              <label style="margin-right: 0.5rem;">{{localize 'MYZ.BONUS'}}: {{gear.system.bonus.value}}</label>
              <label style="margin-right: 0.5rem;">{{localize 'MYZ.DAMAGE'}}: {{gear.system.damage}} </label>
            </div>
            {{/ifCond}}
          </span>
          <span class="item-controls">
            <a class="chatable" data-item-id="{{gear._id}}"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="{{localize 'MYZ.EDIT'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </span>
        </li>
        {{/each}}
      </ol>
    </div>
  </div>

  {{!-- Info Tab --}}
  {{> systems/metro-2033/templates/actor/partials/info.html}}

  </div>
</form>