<div class="myz chat-item">
  <div class="border">
    <h3>{{localize "MYZ.ASKAFFLICTION"}}</h3>

    <h4>Nb Affliction : <span id="{{baneCountId}}">{{baneCount}}</span></h4>
    <div class="flexrow flex-center"><button class="push-button-affliction" data-attribut-name="{{attributeName}}">
        {{localize attributNameKey}}
      </button></div>
    <div class="flexrow flex-center"><button class="push-button-affliction">Sang-Froid </button></div>
    <div class="flexrow flex-center"><button class="push-button-affliction">Stress </button></div>
    <div class="flexrow flex-center"><button class="push-button-affliction">Attribution à un équipement
        (manuel)</button></div>
  </div>

</div>
</div>